[Desktop Entry]
Name=Tor Browser
Exec=start-tor-browser
Icon=tor_browser_bundle
Type=Application
Terminal=false
X-KDE-StartupNotify=false
Categories=Network;

