[Desktop Entry]
Encoding=UTF-8
Name=Firefox Nightly
Exec=fire_nightly %u
Icon=firefox_nightly
Type=Application
Terminal=false
X-KDE-StartupNotify=true
Categories=Network;